@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
  --background: #ffffff;
  --foreground: #1e1e23;
  --card: #ffffff;
  --card-foreground: #1e1e23;
  --popover: #ffffff;
  --popover-foreground: #1e1e23;
  --primary: #00ff66;
  --primary-foreground: #e5faf0;
  --secondary: #f7f7f8;
  --secondary-foreground: #303036;
  --muted: #f7f7f8;
  --muted-foreground: #7e7e85;
  --accent: #f7f7f8;
  --accent-foreground: #303036;
  --destructive: #ef4444;
  --border: #e9e9ea;
  --input: #e9e9ea;
  --ring: #00ff66;
  --chart-1: #f59e0b;
  --chart-2: #3b82f6;
  --chart-3: #6366f1;
  --chart-4: #84cc16;
  --chart-5: #eab308;
  --sidebar: #fafafa;
  --sidebar-foreground: #1e1e23;
  --sidebar-primary: #00ff66;
  --sidebar-primary-foreground: #e5faf0;
  --sidebar-accent: #f7f7f8;
  --sidebar-accent-foreground: #303036;
  --sidebar-border: #e9e9ea;
  --sidebar-ring: #00ff66;
}

.dark {
  --background: #0a0a0a;
  --foreground: #fafafa;
  --card: #171717;
  --card-foreground: #fafafa;
  --popover: #171717;
  --popover-foreground: #fafafa;
  /* --primary: #00bd7c; */
  --primary: #00bd7c;
  --primary-foreground: #00472e;
  --secondary: #262626;
  --secondary-foreground: #fafafa;
  --muted: #262626;
  --muted-foreground: #a3a3a3;
  --accent: #262626;
  --accent-foreground: #fafafa;
  --destructive: #dc2626;
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --ring: #10b981;
  --chart-1: #8b5cf6;
  --chart-2: #00ff66;
  --chart-3: #eab308;
  --chart-4: #d946ef;
  --chart-5: #f97316;
  --sidebar: #171717;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #00ff66;
  --sidebar-primary-foreground: #00472e;
  --sidebar-accent: #262626;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: #10b981;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
